#form {
  width: 500px;
  margin: auto;
}

#form > .container {
  padding: 1rem;
}

#form > .container > .form_item {
  display: flex;
  flex-direction: column;
}

#form > .container > .form_item > .form_input:focus {
  outline: 10px solid black;
}

#form > .container > .form_item > .input_error {
  border: 5px solid red;
}

#form > .container > .form_item > .validity_error {
  /* visibility: hidden; */
  display: none;
}